$blue: #4090db;

// * ------------------------------------------------------

@for $i from 1 through 9 {
  .product__item:nth-child(#{$i}) {
    animation-delay: random(5) / 10 + s;
  }
}

// * ------------------------------------------------------

@mixin f400 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

@mixin f500 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

@mixin f700 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}
